@model IEnumerable<Garage3.Models.ParkingSpot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @{
        if(User.IsInRole("Admin")){
            <a asp-action="Create">Create New</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.VehicleType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle.Owner)
            </th>
            <th>
                @{
                    //Html.DisplayNameFor(model => model.ParkingTime);
                }
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.RegNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleType.Name)
            </td>
            <td>
                    @{
                        Html.DisplayFor(modelItem => item.Vehicle.Owner);
                    }
            </td>
                <td>
                    @{
                        if (item.Vehicle != null)
                        {
                            //Html.DisplayFor(modelItem => item.ParkingTime);
                        }
                    }
                </td>
                <td>
                </td>
                <td>
                    @{
                        if (User.IsInRole("Member"))
                        {
                            if (item.Vehicle == null)
                            {
                                <a asp-action="Park" asp-route-id="@item.Id">Park New Vehicle</a>
                            }

                            else
                            {
                                var usr = item.UserId;
                                var cusr = ViewData["curruserid"].ToString();

                                if (item.UserId == ViewData["curruserid"].ToString()) {

                                    <a asp-action="Delete" asp-route-id="@item.Id">Check out </a>
                                }
                            }
                        }
                    }
            </td>
        </tr>
}
    </tbody>
</table>

